*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: hsl(0, 2%, 9%);
    color: aliceblue;
    height: 100%;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("images/summoners\ rift.webp");
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: medium;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: greenyellow;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 40px;
}
.header-text h1{
    font-size: 70px;
    margin-top: 20px;
}
.header-text span{
    color: greenyellow;
}
/* ------------------about----------------- */

#about{
    padding: 80px 0;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%; 
}
.sub-title{
    font-size: xx-large;
    font-weight: 600;
    color: greenyellow; 
}
.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-titles p{
    margin-right: 50px;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    position: relative; 
}
.tab-titles p::after{
    content: '';
    width: 0;
    height: 3px;
    background: greenyellow;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:greenyellow;
    font-size: small;
}
.tab-contents{
    display: none;
    transition: 0.5s;
    position: absolute;
}
.tab-contents.active-tab{
    display: block;
    position: relative;
}
/* ---------------------------services----------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
    padding: 10px 20px;
    transition: background 1s, transform 0.5s;
     
}
.services-list div h2{
    font-weight: 500;
    padding: 10px;
}
.services-list div p{
    padding: 10px 0;
}
.services-list div a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 0;
    cursor: pointer;
    display: inline-block;
}

.services-list div:hover{
    background-color: rgba(172, 255, 47, 0.874);
    transform: translateY(-10px);
}

/* -----------contact-------------- */
#contact{
    margin-top: 10rem;
}
.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.icons{
    width: 30%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.icons a{
    font-size: 20px;
    color: white;
    transition: transform 0.5s;

}
.icons a:hover{
    color: greenyellow;
    transform: translateY(-5px);
}
.btn{
    background: greenyellow;
    display: inline-block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid rgb(116, 255, 47);
    padding: 14px 60px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: hsl(0, 1%, 31%);
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}
.madeBy {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 25px 0px;
    font-weight: 300;
    background: hsl(0, 1%, 31%);;
}